/* container for the playable game */
.game-box {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50%;
}

/* playable game */
.game-screen {
    display: inline-block;
    text-align: center;
    background-image: url(../images/table.jpg);
    background-size: cover;
    height: 100%;
    width: 80%;
    object-fit: fill;
}

/* emphasized words in game description */
.emphasize-word {
    color: green;
}

/* goal of the game */
.goal-statement {
    font-size: 120%;
    padding-right: 5%;
    padding-left: 5%;
}

/* game descripton */
.game-desc {
    font-family: Fondamento;
    color: #17351d;
    font-size: 110%;
}

/* middle section container - holds game box and description */
.middle-section {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 145%;
    background-color: #F7DDA4;
}

/* margin photo (both sides) */
.marg {
    object-fit: cover;
    height: 140%;
    width: 100%;
}

/* margins */
.col {
    height: 100%;
}

/* parent row holding columns */
.row {
    height: 100vh;
}

/* navbar golden shores text */
.navbar-brand {
    font-family: Mea Culpa;
    font-size: 175%;
    color: #F7DDA4;}

/* navbar dropdown options */
.dropdown-menu {
    font-family: Fondamento;
}

/* navbar dropdown text*/
.nav-link {
    font-family: Mea Culpa;
    font-size: 150%;
    color: #F7DDA4;}

/* blackjack logo, top of page */
.game-title {
    display: inline-block;
    width: 90%;
    font-family: Fondamento;
    font-size: 50%;
    text-align: center;
}

/* logo picture */
.game-logo {
    width: 30%;
}

.banker-hand {
    vertical-align: top;
}

.player-hand {
    vertical-align: bottom;
}



/* game/card spacing - figure out game screen background */
body {
    font-family: Fondamento;
    text-align: center;
}

#player-cards img {
    height: 10%;
    width: 10%;
    margin: 1px;
}

#banker-cards img {
    height: 10%;
    width: 10%;
    margin: 1px;
}

#reset {
    width: 10%;
    height: 5%;
    font-size: 80%;
}

#bankerButton {
    width: 10%;
    height: 5%;
    font-size: 80%;
}

#playerButton {
    width: 10%;
    height: 5%;
    font-size: 80%;
}

#tieButton {
    width: 10%;
    height: 5%;
    font-size: 80%;
}

