/* navbar golden shores text */
.navbar .navbar-brand {
  font-family: Mea Culpa;
  font-size: 175%;
  color: #F7DDA4;
}

/* navbar dropdown options */
.navbar .dropdown-menu {
  font-family: Fondamento;
}

/* navbar dropdown text*/
.navbar .nav-link {
  font-family: Mea Culpa;
  font-size: 150%;
  color: #F7DDA4;
}

/* container for the playable game */
.game-box {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 50%;
}

/* playable game */
.game-screen {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 60%;
  object-fit: fill;
}

/* emphasized words in game description */
.emphasize-word {
  color: rgb(198, 11, 27);
}

/* goal of the game */
.goal-statement {
  font-size: 120%;
  padding-right: 5%;
  padding-left: 5%;
}

/* game descripton */
.game-desc {
  font-family: Fondamento;
  color: #171D35;
  font-size: 110%;
}

/* column for middle section */
.col-md-7 {
  height: 100%;
}

/* middle section container - holds game box and description */
.middle-section {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #F7DDA4;
}

/* margin photo (both sides) */
.marg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* margins */
.col {
  height: 100%;
}

/* parent row holding columns */
.row {
  height: 100vh;
}

/* game logo, top of page */
.game-title {
  display: inline-block;
  width: 100%;
  font-family: Fondamento;
  font-size: 50%;
  text-align: center;
}

/* logo picture */
.game-logo {
  width: 25%;
}

/* slots game */
#app {
  width: 100%;
  height: 100%;
  background: rgb(95, 7, 7);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
  margin-top: 5%;
}

.door {
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 1ex;
  margin: 1ch;
}

.boxes {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
  font-family: Fondamento;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0.2rem 0 0.2rem;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.moneycounter {
  margin: 1rem 0 2rem 0;
  text-align: center;
  vertical-align: bottom;
  font-family: Fondamento;
  color: #F7DDA4;
}

.result {
  text-align: center;
  font-family: Fondamento;
  color: #F7DDA4;
}

